body {
    font: normal 15pt sans-serif;
    background-color: #eeeeec;
}

header {
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.062);
}

section button {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 60%;
}

.res {
    margin-top: 20px;
}
